@import "../../../assets/themes/default/color_cheme";

$header-height: 50px;

.header{
  width: 100%;
  position: relative;
  display: table;
  height: $header-height;
  background-color: $scnd-clr;
  .right{
    width: 20%;
    display: table-cell;
  }
  .middle{
    width: 60%;
    display: table-cell;
  }
  .left{
    width: 20%;
    display: table-cell;
  }
}

